K5_IoT_Sample_Flow/Bluemix_20170726-15.json
[{"id":"deb0d57.1c46528","type":"tab","label":"Flow 1"},{"id":"893fd4ff.9d9788","type":"function","z":"deb0d57.1c46528","name":"Make Dummy Data for Sensor1","func":"var getTimestamp = function ()\n{\n\tvar date = new Date();\n\tdate.setHours(date.getHours() + 9)\n\tvar dt = date.getFullYear() + '-';\n\tdt += (\"0\"+(date.getMonth()+1)).slice(-2) + '-';\n\tdt += (\"0\"+date.getDate()).slice(-2) + 'T';\n\tdt += (\"0\"+date.getHours()).slice(-2) + ':';\n\tdt += (\"0\"+date.getMinutes()).slice(-2) + ':';\n\tdt += (\"0\"+date.getSeconds()).slice(-2) + '+09:00';\n\nreturn dt;\n};\n\nvar getTimestampD = function ()\n{\n\tvar date = new Date();\n\tdate.setHours(date.getHours() + 9);\n\tvar ts = date.getFullYear() + '-';\n\tts += (\"0\"+(date.getMonth()+1)).slice(-2) + '-';\n\tts += (\"0\"+date.getDate()).slice(-2);\n\nreturn ts;\n};\n\nvar getTimestampT = function ()\n{\n\tvar hour = new Date();\n\thour.setHours(hour.getHours() +9);\n\nvar hr = (\"0\"+hour.getHours()).slice(-2) + ':';\n\thr += (\"0\"+hour.getMinutes()).slice(-2) + ':';\n\thr += (\"0\"+hour.getSeconds()).slice(-2);\n\nreturn hr;\n};\n\n// Object of SensorName\nvar name1 = \"Sensor1\";\n\n\tmsg.payload={\n\t\"sensorname\": name1,\n\t\"date\": getTimestampD(),\n\t\"time\": getTimestampT(),\n\t\"timestamp\": getTimestamp(),\n\t\"temperature\": Math.floor((Math.random() * 9 + 20)*100)/100 ,\n\t\"humidity\": Math.floor(( Math.random() * 15 + 40)*100)/100\n\t};\n\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":60,"wires":[["e71ebf60.2e0f2"]]},{"id":"d37a234c.975bc","type":"inject","z":"deb0d57.1c46528","name":"Inject Data","topic":"","payload":"true","payloadType":"bool","repeat":"60","crontab":"","once":false,"x":110,"y":60,"wires":[["893fd4ff.9d9788","27556ecb.5a8e32","9b5ede84.5d225","316254f9.bd551c","56fc0b21.2f66a4","c6960efe.e4ce6","27c15bfb.7e8c84","57203f2e.d4fb7","ce507ad1.e9f388","3ad5d0c2.b3bed"]]},{"id":"9e3db678.4c7048","type":"debug","z":"deb0d57.1c46528","name":"","active":false,"console":"false","complete":"false","x":810,"y":300,"wires":[]},{"id":"27556ecb.5a8e32","type":"function","z":"deb0d57.1c46528","name":"Make Dummy Data for Sensor2","func":"var getTimestamp = function ()\n{\n\tvar date = new Date();\n\tdate.setHours(date.getHours() + 9)\n\tvar dt = date.getFullYear() + '-';\n\tdt += (\"0\"+(date.getMonth()+1)).slice(-2) + '-';\n\tdt += (\"0\"+date.getDate()).slice(-2) + 'T';\n\tdt += (\"0\"+date.getHours()).slice(-2) + ':';\n\tdt += (\"0\"+date.getMinutes()).slice(-2) + ':';\n\tdt += (\"0\"+date.getSeconds()).slice(-2) + '+09:00';\n\nreturn dt;\n};\n\nvar getTimestampD = function ()\n{\n\tvar date = new Date();\n\tdate.setHours(date.getHours() + 9);\n\tvar ts = date.getFullYear() + '-';\n\tts += (\"0\"+(date.getMonth()+1)).slice(-2) + '-';\n\tts += (\"0\"+date.getDate()).slice(-2);\n\nreturn ts;\n};\n\nvar getTimestampT = function ()\n{\n\tvar hour = new Date();\n\thour.setHours(hour.getHours() +9);\n\nvar hr = (\"0\"+hour.getHours()).slice(-2) + ':';\n\thr += (\"0\"+hour.getMinutes()).slice(-2) + ':';\n\thr += (\"0\"+hour.getSeconds()).slice(-2);\n\nreturn hr;\n};\n\n// Object of SensorName\nvar name1 = \"Sensor2\";\n\n\tmsg.payload={\n\t\"sensorname\": name1,\n\t\"date\": getTimestampD(),\n\t\"time\": getTimestampT(),\n\t\"timestamp\": getTimestamp(),\n\t\"temperature\": Math.floor((Math.random() * 9 + 20)*100)/100 ,\n\t\"humidity\": Math.floor(( Math.random() * 15 + 40)*100)/100\n\t};\n\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":100,"wires":[["74e494fb.98121c"]]},{"id":"9b5ede84.5d225","type":"function","z":"deb0d57.1c46528","name":"Make Dummy Data for Sensor3","func":"var getTimestamp = function ()\n{\n\tvar date = new Date();\n\tdate.setHours(date.getHours() + 9)\n\tvar dt = date.getFullYear() + '-';\n\tdt += (\"0\"+(date.getMonth()+1)).slice(-2) + '-';\n\tdt += (\"0\"+date.getDate()).slice(-2) + 'T';\n\tdt += (\"0\"+date.getHours()).slice(-2) + ':';\n\tdt += (\"0\"+date.getMinutes()).slice(-2) + ':';\n\tdt += (\"0\"+date.getSeconds()).slice(-2) + '+09:00';\n\nreturn dt;\n};\n\nvar getTimestampD = function ()\n{\n\tvar date = new Date();\n\tdate.setHours(date.getHours() + 9);\n\tvar ts = date.getFullYear() + '-';\n\tts += (\"0\"+(date.getMonth()+1)).slice(-2) + '-';\n\tts += (\"0\"+date.getDate()).slice(-2);\n\nreturn ts;\n};\n\nvar getTimestampT = function ()\n{\n\tvar hour = new Date();\n\thour.setHours(hour.getHours() +9);\n\nvar hr = (\"0\"+hour.getHours()).slice(-2) + ':';\n\thr += (\"0\"+hour.getMinutes()).slice(-2) + ':';\n\thr += (\"0\"+hour.getSeconds()).slice(-2);\n\nreturn hr;\n};\n\n// Object of SensorName\nvar name1 = \"Sensor3\";\n\n\tmsg.payload={\n\t\"sensorname\": name1,\n\t\"date\": getTimestampD(),\n\t\"time\": getTimestampT(),\n\t\"timestamp\": getTimestamp(),\n\t\"temperature\": Math.floor((Math.random() * 9 + 20)*100)/100 ,\n\t\"humidity\": Math.floor(( Math.random() * 15 + 40)*100)/100\n\t};\n\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":140,"wires":[["1b3ad23a.34c47e"]]},{"id":"316254f9.bd551c","type":"function","z":"deb0d57.1c46528","name":"Make Dummy Data for Sensor4","func":"var getTimestamp = function ()\n{\n\tvar date = new Date();\n\tdate.setHours(date.getHours() + 9)\n\tvar dt = date.getFullYear() + '-';\n\tdt += (\"0\"+(date.getMonth()+1)).slice(-2) + '-';\n\tdt += (\"0\"+date.getDate()).slice(-2) + 'T';\n\tdt += (\"0\"+date.getHours()).slice(-2) + ':';\n\tdt += (\"0\"+date.getMinutes()).slice(-2) + ':';\n\tdt += (\"0\"+date.getSeconds()).slice(-2) + '+09:00';\n\nreturn dt;\n};\n\nvar getTimestampD = function ()\n{\n\tvar date = new Date();\n\tdate.setHours(date.getHours() + 9);\n\tvar ts = date.getFullYear() + '-';\n\tts += (\"0\"+(date.getMonth()+1)).slice(-2) + '-';\n\tts += (\"0\"+date.getDate()).slice(-2);\n\nreturn ts;\n};\n\nvar getTimestampT = function ()\n{\n\tvar hour = new Date();\n\thour.setHours(hour.getHours() +9);\n\nvar hr = (\"0\"+hour.getHours()).slice(-2) + ':';\n\thr += (\"0\"+hour.getMinutes()).slice(-2) + ':';\n\thr += (\"0\"+hour.getSeconds()).slice(-2);\n\nreturn hr;\n};\n\n// Object of SensorName\nvar name1 = \"Sensor4\";\n\n\tmsg.payload={\n\t\"sensorname\": name1,\n\t\"date\": getTimestampD(),\n\t\"time\": getTimestampT(),\n\t\"timestamp\": getTimestamp(),\n\t\"temperature\": Math.floor((Math.random() * 9 + 20)*100)/100 ,\n\t\"humidity\": Math.floor(( Math.random() * 15 + 40)*100)/100\n\t};\n\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":180,"wires":[["64c686b2.76e558"]]},{"id":"56fc0b21.2f66a4","type":"function","z":"deb0d57.1c46528","name":"Make Dummy Data for Sensor5","func":"var getTimestamp = function ()\n{\n\tvar date = new Date();\n\tdate.setHours(date.getHours() + 9)\n\tvar dt = date.getFullYear() + '-';\n\tdt += (\"0\"+(date.getMonth()+1)).slice(-2) + '-';\n\tdt += (\"0\"+date.getDate()).slice(-2) + 'T';\n\tdt += (\"0\"+date.getHours()).slice(-2) + ':';\n\tdt += (\"0\"+date.getMinutes()).slice(-2) + ':';\n\tdt += (\"0\"+date.getSeconds()).slice(-2) + '+09:00';\n\nreturn dt;\n};\n\nvar getTimestampD = function ()\n{\n\tvar date = new Date();\n\tdate.setHours(date.getHours() + 9);\n\tvar ts = date.getFullYear() + '-';\n\tts += (\"0\"+(date.getMonth()+1)).slice(-2) + '-';\n\tts += (\"0\"+date.getDate()).slice(-2);\n\nreturn ts;\n};\n\nvar getTimestampT = function ()\n{\n\tvar hour = new Date();\n\thour.setHours(hour.getHours() +9);\n\nvar hr = (\"0\"+hour.getHours()).slice(-2) + ':';\n\thr += (\"0\"+hour.getMinutes()).slice(-2) + ':';\n\thr += (\"0\"+hour.getSeconds()).slice(-2);\n\nreturn hr;\n};\n\n// Object of SensorName\nvar name1 = \"Sensor5\";\n\n\tmsg.payload={\n\t\"sensorname\": name1,\n\t\"date\": getTimestampD(),\n\t\"time\": getTimestampT(),\n\t\"timestamp\": getTimestamp(),\n\t\"temperature\": Math.floor((Math.random() * 9 + 20)*100)/100 ,\n\t\"humidity\": Math.floor(( Math.random() * 15 + 40)*100)/100\n\t};\n\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":220,"wires":[["e944c9f0.999ea8"]]},{"id":"c6960efe.e4ce6","type":"function","z":"deb0d57.1c46528","name":"Make Dummy Data for Sensor6","func":"var getTimestamp = function ()\n{\n\tvar date = new Date();\n\tdate.setHours(date.getHours() + 9)\n\tvar dt = date.getFullYear() + '-';\n\tdt += (\"0\"+(date.getMonth()+1)).slice(-2) + '-';\n\tdt += (\"0\"+date.getDate()).slice(-2) + 'T';\n\tdt += (\"0\"+date.getHours()).slice(-2) + ':';\n\tdt += (\"0\"+date.getMinutes()).slice(-2) + ':';\n\tdt += (\"0\"+date.getSeconds()).slice(-2) + '+09:00';\n\nreturn dt;\n};\n\nvar getTimestampD = function ()\n{\n\tvar date = new Date();\n\tdate.setHours(date.getHours() + 9);\n\tvar ts = date.getFullYear() + '-';\n\tts += (\"0\"+(date.getMonth()+1)).slice(-2) + '-';\n\tts += (\"0\"+date.getDate()).slice(-2);\n\nreturn ts;\n};\n\nvar getTimestampT = function ()\n{\n\tvar hour = new Date();\n\thour.setHours(hour.getHours() +9);\n\nvar hr = (\"0\"+hour.getHours()).slice(-2) + ':';\n\thr += (\"0\"+hour.getMinutes()).slice(-2) + ':';\n\thr += (\"0\"+hour.getSeconds()).slice(-2);\n\nreturn hr;\n};\n\n// Object of SensorName\nvar name1 = \"Sensor6\";\n\n\tmsg.payload={\n\t\"sensorname\": name1,\n\t\"date\": getTimestampD(),\n\t\"time\": getTimestampT(),\n\t\"timestamp\": getTimestamp(),\n\t\"temperature\": Math.floor((Math.random() * 9 + 20)*100)/100 ,\n\t\"humidity\": Math.floor(( Math.random() * 15 + 40)*100)/100\n\t};\n\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":260,"wires":[["e944c9f0.999ea8"]]},{"id":"27c15bfb.7e8c84","type":"function","z":"deb0d57.1c46528","name":"Make Dummy Data for Sensor7","func":"var getTimestamp = function ()\n{\n\tvar date = new Date();\n\tdate.setHours(date.getHours() + 9)\n\tvar dt = date.getFullYear() + '-';\n\tdt += (\"0\"+(date.getMonth()+1)).slice(-2) + '-';\n\tdt += (\"0\"+date.getDate()).slice(-2) + 'T';\n\tdt += (\"0\"+date.getHours()).slice(-2) + ':';\n\tdt += (\"0\"+date.getMinutes()).slice(-2) + ':';\n\tdt += (\"0\"+date.getSeconds()).slice(-2) + '+09:00';\n\nreturn dt;\n};\n\nvar getTimestampD = function ()\n{\n\tvar date = new Date();\n\tdate.setHours(date.getHours() + 9);\n\tvar ts = date.getFullYear() + '-';\n\tts += (\"0\"+(date.getMonth()+1)).slice(-2) + '-';\n\tts += (\"0\"+date.getDate()).slice(-2);\n\nreturn ts;\n};\n\nvar getTimestampT = function ()\n{\n\tvar hour = new Date();\n\thour.setHours(hour.getHours() +9);\n\nvar hr = (\"0\"+hour.getHours()).slice(-2) + ':';\n\thr += (\"0\"+hour.getMinutes()).slice(-2) + ':';\n\thr += (\"0\"+hour.getSeconds()).slice(-2);\n\nreturn hr;\n};\n\n// Object of SensorName\nvar name1 = \"Sensor7\";\n\n\tmsg.payload={\n\t\"sensorname\": name1,\n\t\"date\": getTimestampD(),\n\t\"time\": getTimestampT(),\n\t\"timestamp\": getTimestamp(),\n\t\"temperature\": Math.floor((Math.random() * 9 + 20)*100)/100 ,\n\t\"humidity\": Math.floor(( Math.random() * 15 + 40)*100)/100\n\t};\n\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":300,"wires":[["e944c9f0.999ea8"]]},{"id":"57203f2e.d4fb7","type":"function","z":"deb0d57.1c46528","name":"Make Dummy Data for Sensor8","func":"var getTimestamp = function ()\n{\n\tvar date = new Date();\n\tdate.setHours(date.getHours() + 9)\n\tvar dt = date.getFullYear() + '-';\n\tdt += (\"0\"+(date.getMonth()+1)).slice(-2) + '-';\n\tdt += (\"0\"+date.getDate()).slice(-2) + 'T';\n\tdt += (\"0\"+date.getHours()).slice(-2) + ':';\n\tdt += (\"0\"+date.getMinutes()).slice(-2) + ':';\n\tdt += (\"0\"+date.getSeconds()).slice(-2) + '+09:00';\n\nreturn dt;\n};\n\nvar getTimestampD = function ()\n{\n\tvar date = new Date();\n\tdate.setHours(date.getHours() + 9);\n\tvar ts = date.getFullYear() + '-';\n\tts += (\"0\"+(date.getMonth()+1)).slice(-2) + '-';\n\tts += (\"0\"+date.getDate()).slice(-2);\n\nreturn ts;\n};\n\nvar getTimestampT = function ()\n{\n\tvar hour = new Date();\n\thour.setHours(hour.getHours() +9);\n\nvar hr = (\"0\"+hour.getHours()).slice(-2) + ':';\n\thr += (\"0\"+hour.getMinutes()).slice(-2) + ':';\n\thr += (\"0\"+hour.getSeconds()).slice(-2);\n\nreturn hr;\n};\n\n// Object of SensorName\nvar name1 = \"Sensor8\";\n\n\tmsg.payload={\n\t\"sensorname\": name1,\n\t\"date\": getTimestampD(),\n\t\"time\": getTimestampT(),\n\t\"timestamp\": getTimestamp(),\n\t\"temperature\": Math.floor((Math.random() * 9 + 20)*100)/100 ,\n\t\"humidity\": Math.floor(( Math.random() * 15 + 40)*100)/100\n\t};\n\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":340,"wires":[["e944c9f0.999ea8"]]},{"id":"ce507ad1.e9f388","type":"function","z":"deb0d57.1c46528","name":"Make Dummy Data for Sensor9","func":"var getTimestamp = function ()\n{\n\tvar date = new Date();\n\tdate.setHours(date.getHours() + 9)\n\tvar dt = date.getFullYear() + '-';\n\tdt += (\"0\"+(date.getMonth()+1)).slice(-2) + '-';\n\tdt += (\"0\"+date.getDate()).slice(-2) + 'T';\n\tdt += (\"0\"+date.getHours()).slice(-2) + ':';\n\tdt += (\"0\"+date.getMinutes()).slice(-2) + ':';\n\tdt += (\"0\"+date.getSeconds()).slice(-2) + '+09:00';\n\nreturn dt;\n};\n\nvar getTimestampD = function ()\n{\n\tvar date = new Date();\n\tdate.setHours(date.getHours() + 9);\n\tvar ts = date.getFullYear() + '-';\n\tts += (\"0\"+(date.getMonth()+1)).slice(-2) + '-';\n\tts += (\"0\"+date.getDate()).slice(-2);\n\nreturn ts;\n};\n\nvar getTimestampT = function ()\n{\n\tvar hour = new Date();\n\thour.setHours(hour.getHours() +9);\n\nvar hr = (\"0\"+hour.getHours()).slice(-2) + ':';\n\thr += (\"0\"+hour.getMinutes()).slice(-2) + ':';\n\thr += (\"0\"+hour.getSeconds()).slice(-2);\n\nreturn hr;\n};\n\n// Object of SensorName\nvar name1 = \"Sensor9\";\n\n\tmsg.payload={\n\t\"sensorname\": name1,\n\t\"date\": getTimestampD(),\n\t\"time\": getTimestampT(),\n\t\"timestamp\": getTimestamp(),\n\t\"temperature\": Math.floor((Math.random() * 9 + 20)*100)/100 ,\n\t\"humidity\": Math.floor(( Math.random() * 15 + 40)*100)/100\n\t};\n\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":380,"wires":[["e944c9f0.999ea8"]]},{"id":"3ad5d0c2.b3bed","type":"function","z":"deb0d57.1c46528","name":"Make Dummy Data for Sensor10","func":"var getTimestamp = function ()\n{\n\tvar date = new Date();\n\tdate.setHours(date.getHours() + 9)\n\tvar dt = date.getFullYear() + '-';\n\tdt += (\"0\"+(date.getMonth()+1)).slice(-2) + '-';\n\tdt += (\"0\"+date.getDate()).slice(-2) + 'T';\n\tdt += (\"0\"+date.getHours()).slice(-2) + ':';\n\tdt += (\"0\"+date.getMinutes()).slice(-2) + ':';\n\tdt += (\"0\"+date.getSeconds()).slice(-2) + '+09:00';\n\nreturn dt;\n};\n\nvar getTimestampD = function ()\n{\n\tvar date = new Date();\n\tdate.setHours(date.getHours() + 9);\n\tvar ts = date.getFullYear() + '-';\n\tts += (\"0\"+(date.getMonth()+1)).slice(-2) + '-';\n\tts += (\"0\"+date.getDate()).slice(-2);\n\nreturn ts;\n};\n\nvar getTimestampT = function ()\n{\n\tvar hour = new Date();\n\thour.setHours(hour.getHours() +9);\n\nvar hr = (\"0\"+hour.getHours()).slice(-2) + ':';\n\thr += (\"0\"+hour.getMinutes()).slice(-2) + ':';\n\thr += (\"0\"+hour.getSeconds()).slice(-2);\n\nreturn hr;\n};\n\n// Object of SensorName\nvar name1 = \"Sensor10\";\n\n\tmsg.payload={\n\t\"sensorname\": name1,\n\t\"date\": getTimestampD(),\n\t\"time\": getTimestampT(),\n\t\"timestamp\": getTimestamp(),\n\t\"temperature\": Math.floor((Math.random() * 9 + 20)*100)/100 ,\n\t\"humidity\": Math.floor(( Math.random() * 15 + 40)*100)/100\n\t};\n\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":420,"wires":[["e944c9f0.999ea8"]]},{"id":"e71ebf60.2e0f2","type":"mqtt out","z":"deb0d57.1c46528","name":"K5 MQTT Pub for Sensor1","topic":"testcode2/v1/ITP314-001/DTC/SD001","qos":"1","retain":"","broker":"197873b2.67cf2c","x":700,"y":60,"wires":[]},{"id":"18ea5af7.eb4e75","type":"mqtt in","z":"deb0d57.1c46528","name":"K5 MQTT Sub for SD001","topic":"testcode2/v1/ITP314-001/DTC/SD001","qos":"1","broker":"197873b2.67cf2c","x":130,"y":580,"wires":[["49b7b02c.97537"]]},{"id":"49b7b02c.97537","type":"json","z":"deb0d57.1c46528","name":"","x":370,"y":640,"wires":[["e944c9f0.999ea8"]]},{"id":"e944c9f0.999ea8","type":"switch","z":"deb0d57.1c46528","name":"Separate flow by Sensor","property":"payload.sensorname","propertyType":"msg","rules":[{"t":"eq","v":"Sensor1","vt":"str"},{"t":"eq","v":"Sensor2","vt":"str"},{"t":"eq","v":"Sensor3","vt":"str"},{"t":"eq","v":"Sensor4","vt":"str"},{"t":"eq","v":"Sensor5","vt":"str"},{"t":"eq","v":"Sensor6","vt":"str"},{"t":"eq","v":"Sensor7","vt":"str"},{"t":"eq","v":"Sensor8","vt":"str"},{"t":"eq","v":"Sensor9","vt":"str"},{"t":"eq","v":"Sensor10","vt":"str"}],"checkall":"true","outputs":10,"x":590,"y":640,"wires":[["83f42db4.277d5","151469ab.0e3756"],["efe17f07.30fb2","1d34891a.365a87"],["d14c608a.6a799","63121c2e.9c5534"],["915026f0.f09958","b924ef15.23f41"],["6e897b5.7710584","35a21f81.2c4b3"],["621e4a0d.475ba4","b187420d.e5828"],["adf042de.8ae8c","1d9d31f5.f5f49e"],["10089ed5.a177e1","ca7f00be.5d965"],["224378b.8a22b88","7642e91b.4f6628"],["1f55f368.5a680d","e4ed19ec.04d808"]]},{"id":"74e494fb.98121c","type":"mqtt out","z":"deb0d57.1c46528","name":"K5 MQTT Pub for Sensor2","topic":"testcode2/v1/ITP314-001/DTC/SD002","qos":"1","retain":"","broker":"197873b2.67cf2c","x":700,"y":100,"wires":[]},{"id":"1b3ad23a.34c47e","type":"mqtt out","z":"deb0d57.1c46528","name":"K5 MQTT Pub for Sensor3","topic":"testcode2/v1/ITP314-001/DTC/SD003","qos":"1","retain":"","broker":"197873b2.67cf2c","x":700,"y":140,"wires":[]},{"id":"64c686b2.76e558","type":"mqtt out","z":"deb0d57.1c46528","name":"K5 MQTT Pub for Sensor4","topic":"testcode2/v1/ITP314-001/DTC/SD004","qos":"1","retain":"","broker":"197873b2.67cf2c","x":700,"y":180,"wires":[]},{"id":"3612b7bc.bb03c8","type":"mqtt in","z":"deb0d57.1c46528","name":"K5 MQTT Sub for SD002","topic":"testcode2/v1/ITP314-001/DTC/SD002","qos":"1","broker":"197873b2.67cf2c","x":130,"y":620,"wires":[["49b7b02c.97537"]]},{"id":"8c1dc556.bf62e8","type":"mqtt in","z":"deb0d57.1c46528","name":"K5 MQTT Sub for SD003","topic":"testcode2/v1/ITP314-001/DTC/SD003","qos":"1","broker":"197873b2.67cf2c","x":130,"y":660,"wires":[["49b7b02c.97537"]]},{"id":"a933c65c.13b8e8","type":"mqtt in","z":"deb0d57.1c46528","name":"K5 MQTT Sub for SD004","topic":"testcode2/v1/ITP314-001/DTC/SD004","qos":"1","broker":"197873b2.67cf2c","x":130,"y":700,"wires":[["49b7b02c.97537"]]},{"id":"83f42db4.277d5","type":"function","z":"deb0d57.1c46528","name":"Extract Sensor1 Temp","func":"return {payload:msg.payload.temperature};","outputs":1,"noerr":0,"x":880,"y":580,"wires":[["78da6b0a.bcd114","1912a9d5.d0cc56","296deaab.9a33d6","9d50a138.a1a99"]]},{"id":"efe17f07.30fb2","type":"function","z":"deb0d57.1c46528","name":"Extract Sensor2 Temp","func":"return {payload:msg.payload.temperature};","outputs":1,"noerr":0,"x":880,"y":620,"wires":[["94e87828.9c39d8","2347382b.ed4af8","87495201.8dbf4","bbbc952a.14d2c8"]]},{"id":"d14c608a.6a799","type":"function","z":"deb0d57.1c46528","name":"Extract Sensor3 Temp","func":"return {payload:msg.payload.temperature};","outputs":1,"noerr":0,"x":880,"y":660,"wires":[["6ae68986.73aac8","df217908.a5a608","7acca26d.03cd4c","f5f6c73e.751838"]]},{"id":"915026f0.f09958","type":"function","z":"deb0d57.1c46528","name":"Extract Sensor4 Temp","func":"return {payload:msg.payload.temperature};","outputs":1,"noerr":0,"x":880,"y":700,"wires":[["40223e82.11e99","d3cf7421.5516c8","1cbd0ef0.2fbdf1","1b1c4aa8.d105f5"]]},{"id":"6e897b5.7710584","type":"function","z":"deb0d57.1c46528","name":"Extract Sensor5 Temp","func":"return {payload:msg.payload.temperature};","outputs":1,"noerr":0,"x":880,"y":740,"wires":[["bd614881.194e08","6a2266b0.5842a8","3cce012d.9d049e","6a5e80d1.4ce87"]]},{"id":"621e4a0d.475ba4","type":"function","z":"deb0d57.1c46528","name":"Extract Sensor6 Temp","func":"return {payload:msg.payload.temperature};","outputs":1,"noerr":0,"x":880,"y":1220,"wires":[["82227a3f.ba2438","f8e54e51.7d949","a673b1aa.a7bc7","1a575aa8.88ab45"]]},{"id":"adf042de.8ae8c","type":"function","z":"deb0d57.1c46528","name":"Extract Sensor7 Temp","func":"return {payload:msg.payload.temperature};","outputs":1,"noerr":0,"x":880,"y":1260,"wires":[["45de96dd.ea83c8","fa2c62ca.c8eda","35407b0a.674504","e36ccdb4.1d1d7"]]},{"id":"10089ed5.a177e1","type":"function","z":"deb0d57.1c46528","name":"Extract Sensor8 Temp","func":"return {payload:msg.payload.temperature};","outputs":1,"noerr":0,"x":880,"y":1300,"wires":[["1e946bf5.c6bbf4","3b88dd3c.3d1c32","f7a0065a.324248","455f9ce2.ce31f4"]]},{"id":"224378b.8a22b88","type":"function","z":"deb0d57.1c46528","name":"Extract Sensor9 Temp","func":"return {payload:msg.payload.temperature};","outputs":1,"noerr":0,"x":880,"y":1340,"wires":[["93382269.892d1","e2b2cf55.501c5","579317fb.440dd8","6c63dbf1.a470c4"]]},{"id":"1f55f368.5a680d","type":"function","z":"deb0d57.1c46528","name":"Extract Sensor10 Temp","func":"return {payload:msg.payload.temperature};","outputs":1,"noerr":0,"x":890,"y":1380,"wires":[["5a905daa.8882b4","c8576fde.7ee5b","5a152a54.d72184","55ebf68b.5550f8"]]},{"id":"78da6b0a.bcd114","type":"ui_gauge","z":"deb0d57.1c46528","name":"Sensor1 Realtime Temp Gauge","group":"13762f56.ac0f11","order":0,"width":"6","height":"3","gtype":"gage","title":"Realtime Gauge","label":"units","format":"{{value}}℃","min":"20","max":"30","colors":["#00b500","#e6e600","#ca3838"],"seg1":"25","seg2":"28","x":1370,"y":480,"wires":[]},{"id":"1912a9d5.d0cc56","type":"ui_chart","z":"deb0d57.1c46528","name":"Sensor1 Realtime Chart","group":"13762f56.ac0f11","order":0,"width":0,"height":0,"label":"1 hour chart","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","ymin":"20","ymax":"30","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":1350,"y":520,"wires":[[],[]]},{"id":"296deaab.9a33d6","type":"ui_chart","z":"deb0d57.1c46528","name":"Sensor1 1 day Chart","group":"90ed189f.65a838","order":0,"width":0,"height":0,"label":"1 day chart","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","ymin":"20","ymax":"30","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":1340,"y":560,"wires":[[],[]]},{"id":"9d50a138.a1a99","type":"ui_chart","z":"deb0d57.1c46528","name":"Sensor1 1 week Chart","group":"90ed189f.65a838","order":0,"width":0,"height":0,"label":"1 week chart","chartType":"line","legend":"false","xformat":"D/M","interpolate":"linear","nodata":"","ymin":"20","ymax":"30","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":1340,"y":600,"wires":[[],[]]},{"id":"94e87828.9c39d8","type":"ui_gauge","z":"deb0d57.1c46528","name":"Sensor2 Realtime Temp Gauge","group":"6f123f41.2bcf3","order":0,"width":"6","height":"3","gtype":"gage","title":"Realtime Gauge","label":"units","format":"{{value}}℃","min":"20","max":"30","colors":["#00b500","#e6e600","#ca3838"],"seg1":"25","seg2":"28","x":1370,"y":640,"wires":[]},{"id":"2347382b.ed4af8","type":"ui_chart","z":"deb0d57.1c46528","name":"Sensor2 Realtime Chart","group":"6f123f41.2bcf3","order":0,"width":0,"height":0,"label":"1 hour chart","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","ymin":"20","ymax":"30","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":1350,"y":680,"wires":[[],[]]},{"id":"87495201.8dbf4","type":"ui_chart","z":"deb0d57.1c46528","name":"Sensor2 1 day Chart","group":"71aef4b3.28588c","order":0,"width":0,"height":0,"label":"1 day chart","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","ymin":"20","ymax":"30","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":1340,"y":720,"wires":[[],[]]},{"id":"bbbc952a.14d2c8","type":"ui_chart","z":"deb0d57.1c46528","name":"Sensor2 1 week Chart","group":"71aef4b3.28588c","order":0,"width":0,"height":0,"label":"1 week chart","chartType":"line","legend":"false","xformat":"D/M","interpolate":"linear","nodata":"","ymin":"20","ymax":"30","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":1340,"y":760,"wires":[[],[]]},{"id":"6ae68986.73aac8","type":"ui_gauge","z":"deb0d57.1c46528","name":"Sensor3 Realtime Temp Gauge","group":"7d9d67e7.f92398","order":0,"width":"6","height":"3","gtype":"gage","title":"Realtime Gauge","label":"units","format":"{{value}}℃","min":"20","max":"30","colors":["#00b500","#e6e600","#ca3838"],"seg1":"25","seg2":"28","x":1370,"y":800,"wires":[]},{"id":"df217908.a5a608","type":"ui_chart","z":"deb0d57.1c46528","name":"Sensor3 Realtime Chart","group":"7d9d67e7.f92398","order":0,"width":0,"height":0,"label":"1 hour chart","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","ymin":"20","ymax":"30","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":1350,"y":840,"wires":[[],[]]},{"id":"7acca26d.03cd4c","type":"ui_chart","z":"deb0d57.1c46528","name":"Sensor3 1 day Chart","group":"82ab19a8.c381a8","order":0,"width":0,"height":0,"label":"1 day chart","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","ymin":"20","ymax":"30","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":1340,"y":880,"wires":[[],[]]},{"id":"f5f6c73e.751838","type":"ui_chart","z":"deb0d57.1c46528","name":"Sensor3 1 week Chart","group":"82ab19a8.c381a8","order":0,"width":0,"height":0,"label":"1 week chart","chartType":"line","legend":"false","xformat":"D/M","interpolate":"linear","nodata":"","ymin":"20","ymax":"30","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":1340,"y":920,"wires":[[],[]]},{"id":"40223e82.11e99","type":"ui_gauge","z":"deb0d57.1c46528","name":"Sensor4 Realtime Temp Gauge","group":"e82fd828.c310a8","order":0,"width":"6","height":"3","gtype":"gage","title":"Realtime Gauge","label":"units","format":"{{value}}℃","min":"20","max":"30","colors":["#00b500","#e6e600","#ca3838"],"seg1":"25","seg2":"28","x":1370,"y":960,"wires":[]},{"id":"d3cf7421.5516c8","type":"ui_chart","z":"deb0d57.1c46528","name":"Sensor4 Realtime Chart","group":"e82fd828.c310a8","order":0,"width":0,"height":0,"label":"1 hour chart","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","ymin":"20","ymax":"30","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":1350,"y":1000,"wires":[[],[]]},{"id":"1cbd0ef0.2fbdf1","type":"ui_chart","z":"deb0d57.1c46528","name":"Sensor4 1 day Chart","group":"8ff871b9.2bc6e","order":0,"width":0,"height":0,"label":"1 day chart","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","ymin":"20","ymax":"30","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":1340,"y":1040,"wires":[[],[]]},{"id":"1b1c4aa8.d105f5","type":"ui_chart","z":"deb0d57.1c46528","name":"Sensor4 1 week Chart","group":"8ff871b9.2bc6e","order":0,"width":0,"height":0,"label":"1 week chart","chartType":"line","legend":"false","xformat":"D/M","interpolate":"linear","nodata":"","ymin":"20","ymax":"30","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":1340,"y":1080,"wires":[[],[]]},{"id":"bd614881.194e08","type":"ui_gauge","z":"deb0d57.1c46528","name":"Sensor5 Realtime Temp Gauge","group":"198978a9.3d87c7","order":0,"width":"6","height":"3","gtype":"gage","title":"Realtime Gauge","label":"units","format":"{{value}}℃","min":"20","max":"30","colors":["#00b500","#e6e600","#ca3838"],"seg1":"25","seg2":"28","x":1370,"y":1120,"wires":[]},{"id":"6a2266b0.5842a8","type":"ui_chart","z":"deb0d57.1c46528","name":"Sensor5 Realtime Chart","group":"198978a9.3d87c7","order":0,"width":0,"height":0,"label":"1 hour chart","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","ymin":"20","ymax":"30","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":1350,"y":1160,"wires":[[],[]]},{"id":"3cce012d.9d049e","type":"ui_chart","z":"deb0d57.1c46528","name":"Sensor5 1 day Chart","group":"8c33ed63.e949d","order":0,"width":0,"height":0,"label":"1 day chart","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","ymin":"20","ymax":"30","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":1340,"y":1200,"wires":[[],[]]},{"id":"6a5e80d1.4ce87","type":"ui_chart","z":"deb0d57.1c46528","name":"Sensor5 1 week Chart","group":"8c33ed63.e949d","order":0,"width":0,"height":0,"label":"1 week chart","chartType":"line","legend":"false","xformat":"D/M","interpolate":"linear","nodata":"","ymin":"20","ymax":"30","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":1340,"y":1240,"wires":[[],[]]},{"id":"82227a3f.ba2438","type":"ui_gauge","z":"deb0d57.1c46528","name":"Sensor6 Realtime Temp Gauge","group":"95e3fba.867a208","order":0,"width":"6","height":"3","gtype":"gage","title":"Realtime Gauge","label":"units","format":"{{value}}℃","min":"20","max":"30","colors":["#00b500","#e6e600","#ca3838"],"seg1":"25","seg2":"28","x":1370,"y":1280,"wires":[]},{"id":"f8e54e51.7d949","type":"ui_chart","z":"deb0d57.1c46528","name":"Sensor6 Realtime Chart","group":"95e3fba.867a208","order":0,"width":0,"height":0,"label":"1 hour chart","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","ymin":"20","ymax":"30","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":1350,"y":1320,"wires":[[],[]]},{"id":"a673b1aa.a7bc7","type":"ui_chart","z":"deb0d57.1c46528","name":"Sensor6 1 day Chart","group":"643805e8.14c08c","order":0,"width":0,"height":0,"label":"1 day chart","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","ymin":"20","ymax":"30","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":1340,"y":1360,"wires":[[],[]]},{"id":"1a575aa8.88ab45","type":"ui_chart","z":"deb0d57.1c46528","name":"Sensor6 1 week Chart","group":"643805e8.14c08c","order":0,"width":0,"height":0,"label":"1 week chart","chartType":"line","legend":"false","xformat":"D/M","interpolate":"linear","nodata":"","ymin":"20","ymax":"30","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":1340,"y":1400,"wires":[[],[]]},{"id":"45de96dd.ea83c8","type":"ui_gauge","z":"deb0d57.1c46528","name":"Sensor7 Realtime Temp Gauge","group":"1ae30899.8e1ee7","order":0,"width":"6","height":"3","gtype":"gage","title":"Realtime Gauge","label":"units","format":"{{value}}℃","min":"20","max":"30","colors":["#00b500","#e6e600","#ca3838"],"seg1":"25","seg2":"28","x":1370,"y":1440,"wires":[]},{"id":"fa2c62ca.c8eda","type":"ui_chart","z":"deb0d57.1c46528","name":"Sensor7 Realtime Chart","group":"1ae30899.8e1ee7","order":0,"width":0,"height":0,"label":"1 hour chart","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","ymin":"20","ymax":"30","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":1350,"y":1480,"wires":[[],[]]},{"id":"35407b0a.674504","type":"ui_chart","z":"deb0d57.1c46528","name":"Sensor7 1 day Chart","group":"fa9f16ec.28a318","order":0,"width":0,"height":0,"label":"1 day chart","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","ymin":"20","ymax":"30","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":1340,"y":1520,"wires":[[],[]]},{"id":"e36ccdb4.1d1d7","type":"ui_chart","z":"deb0d57.1c46528","name":"Sensor7 1 week Chart","group":"fa9f16ec.28a318","order":0,"width":0,"height":0,"label":"1 week chart","chartType":"line","legend":"false","xformat":"D/M","interpolate":"linear","nodata":"","ymin":"20","ymax":"30","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":1340,"y":1560,"wires":[[],[]]},{"id":"1e946bf5.c6bbf4","type":"ui_gauge","z":"deb0d57.1c46528","name":"Sensor8 Realtime Temp Gauge","group":"68aae605.eac088","order":0,"width":"6","height":"3","gtype":"gage","title":"Realtime Gauge","label":"units","format":"{{value}}℃","min":"20","max":"30","colors":["#00b500","#e6e600","#ca3838"],"seg1":"25","seg2":"28","x":1370,"y":1600,"wires":[]},{"id":"3b88dd3c.3d1c32","type":"ui_chart","z":"deb0d57.1c46528","name":"Sensor8 Realtime Chart","group":"68aae605.eac088","order":0,"width":0,"height":0,"label":"1 hour chart","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","ymin":"20","ymax":"30","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":1350,"y":1640,"wires":[[],[]]},{"id":"f7a0065a.324248","type":"ui_chart","z":"deb0d57.1c46528","name":"Sensor8 1 day Chart","group":"2d2056a8.913d6a","order":0,"width":0,"height":0,"label":"1 day chart","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","ymin":"20","ymax":"30","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":1340,"y":1680,"wires":[[],[]]},{"id":"455f9ce2.ce31f4","type":"ui_chart","z":"deb0d57.1c46528","name":"Sensor8 1 week Chart","group":"2d2056a8.913d6a","order":0,"width":0,"height":0,"label":"1 week chart","chartType":"line","legend":"false","xformat":"D/M","interpolate":"linear","nodata":"","ymin":"20","ymax":"30","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":1340,"y":1720,"wires":[[],[]]},{"id":"93382269.892d1","type":"ui_gauge","z":"deb0d57.1c46528","name":"Sensor9 Realtime Temp Gauge","group":"461552fb.7143cc","order":0,"width":"6","height":"3","gtype":"gage","title":"Realtime Gauge","label":"units","format":"{{value}}℃","min":"20","max":"30","colors":["#00b500","#e6e600","#ca3838"],"seg1":"25","seg2":"28","x":1370,"y":1760,"wires":[]},{"id":"e2b2cf55.501c5","type":"ui_chart","z":"deb0d57.1c46528","name":"Sensor9 Realtime Chart","group":"461552fb.7143cc","order":0,"width":0,"height":0,"label":"1 hour chart","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","ymin":"20","ymax":"30","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":1350,"y":1800,"wires":[[],[]]},{"id":"579317fb.440dd8","type":"ui_chart","z":"deb0d57.1c46528","name":"Sensor9 1 day Chart","group":"74e16c81.739f24","order":0,"width":0,"height":0,"label":"1 day chart","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","ymin":"20","ymax":"30","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":1340,"y":1840,"wires":[[],[]]},{"id":"6c63dbf1.a470c4","type":"ui_chart","z":"deb0d57.1c46528","name":"Sensor9 1 week Chart","group":"74e16c81.739f24","order":0,"width":0,"height":0,"label":"1 week chart","chartType":"line","legend":"false","xformat":"D/M","interpolate":"linear","nodata":"","ymin":"20","ymax":"30","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":1340,"y":1880,"wires":[[],[]]},{"id":"5a905daa.8882b4","type":"ui_gauge","z":"deb0d57.1c46528","name":"Sensor10 Realtime Temp Gauge","group":"594a8c5f.7b7244","order":0,"width":"6","height":"3","gtype":"gage","title":"Realtime Gauge","label":"units","format":"{{value}}℃","min":"20","max":"30","colors":["#00b500","#e6e600","#ca3838"],"seg1":"25","seg2":"28","x":1370,"y":1920,"wires":[]},{"id":"c8576fde.7ee5b","type":"ui_chart","z":"deb0d57.1c46528","name":"Sensor10 Realtime Chart","group":"594a8c5f.7b7244","order":0,"width":0,"height":0,"label":"1 hour chart","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","ymin":"20","ymax":"30","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":1350,"y":1960,"wires":[[],[]]},{"id":"5a152a54.d72184","type":"ui_chart","z":"deb0d57.1c46528","name":"Sensor10 1 day Chart","group":"9def179b.28bef8","order":0,"width":0,"height":0,"label":"1 day chart","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","ymin":"20","ymax":"30","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":1340,"y":2000,"wires":[[],[]]},{"id":"55ebf68b.5550f8","type":"ui_chart","z":"deb0d57.1c46528","name":"Sensor10 1 week Chart","group":"9def179b.28bef8","order":0,"width":0,"height":0,"label":"1 week chart","chartType":"line","legend":"false","xformat":"D/M","interpolate":"linear","nodata":"","ymin":"20","ymax":"30","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":1350,"y":2040,"wires":[[],[]]},{"id":"151469ab.0e3756","type":"function","z":"deb0d57.1c46528","name":"Extract Sensor1 Humid","func":"return {payload:msg.payload.humidity};","outputs":1,"noerr":0,"x":890,"y":800,"wires":[["247ade1.2a53e22","520bc7b4.6bda98","4382dbee.402084","be4e0a1d.800398"]]},{"id":"1d34891a.365a87","type":"function","z":"deb0d57.1c46528","name":"Extract Sensor2 Humid","func":"return {payload:msg.payload.humidity};","outputs":1,"noerr":0,"x":890,"y":840,"wires":[["11acfbb.c2a0b04","7c9bc966.d776a8","b075cc50.9a93c","daf4cc99.13f01"]]},{"id":"63121c2e.9c5534","type":"function","z":"deb0d57.1c46528","name":"Extract Sensor3 Humid","func":"return {payload:msg.payload.humidity};","outputs":1,"noerr":0,"x":890,"y":880,"wires":[["7abd8136.d9f88","ded3fa7a.87abc8","87fc8c0d.907c5","58536d33.b39df4"]]},{"id":"b924ef15.23f41","type":"function","z":"deb0d57.1c46528","name":"Extract Sensor4 Humid","func":"return {payload:msg.payload.humidity};","outputs":1,"noerr":0,"x":890,"y":920,"wires":[["fa4ffb24.afae68","cd26bea.1de544","72b98b2e.6b21b4","d2c390a1.5cef6"]]},{"id":"35a21f81.2c4b3","type":"function","z":"deb0d57.1c46528","name":"Extract Sensor5 Humid","func":"return {payload:msg.payload.humidity};","outputs":1,"noerr":0,"x":890,"y":960,"wires":[["8708013b.e39ee","d9df191f.564ee8","6d04b637.6793b8","b1184afc.be0cf8"]]},{"id":"b187420d.e5828","type":"function","z":"deb0d57.1c46528","name":"Extract Sensor6 Humid","func":"return {payload:msg.payload.humidity};","outputs":1,"noerr":0,"x":890,"y":1480,"wires":[["10393ad5.dd6a45","2e509463.7f712c","73004597.439eec","2a0fc610.87455a"]]},{"id":"1d9d31f5.f5f49e","type":"function","z":"deb0d57.1c46528","name":"Extract Sensor7 Humid","func":"return {payload:msg.payload.humidity};","outputs":1,"noerr":0,"x":890,"y":1520,"wires":[["d54cdbe9.7e6438","49ee825c.60516c","a41c0849.d1f5a8","6ff4e2c5.7a46fc"]]},{"id":"ca7f00be.5d965","type":"function","z":"deb0d57.1c46528","name":"Extract Sensor8 Humid","func":"return {payload:msg.payload.humidity};","outputs":1,"noerr":0,"x":890,"y":1560,"wires":[["39049fe9.43902","f1a9f0e2.0fa83","7e4edbca.3867f4","5923dd78.0b27d4"]]},{"id":"7642e91b.4f6628","type":"function","z":"deb0d57.1c46528","name":"Extract Sensor9 Humid","func":"return {payload:msg.payload.humidity};","outputs":1,"noerr":0,"x":890,"y":1600,"wires":[["d322be9b.e2311","d15fca3e.b20ff8","b055fba4.bfa048","bfc863c.a695ea"]]},{"id":"e4ed19ec.04d808","type":"function","z":"deb0d57.1c46528","name":"Extract Sensor10 Humid","func":"return {payload:msg.payload.humidity};","outputs":1,"noerr":0,"x":890,"y":1640,"wires":[["5a4d7ef8.62c56","906d26fd.5f2ed8","ef450fde.ed4dd","bdb5fa9.e4f1108"]]},{"id":"247ade1.2a53e22","type":"ui_gauge","z":"deb0d57.1c46528","name":"Sensor1 Realtime Humid Gauge","group":"7dfdde68.1b298","order":0,"width":"6","height":"3","gtype":"gage","title":"Realtime Gauge","label":"units","format":"{{value}}%","min":"40","max":"55","colors":["#00b500","#e6e600","#ca3838"],"seg1":"47","seg2":"52","x":1690,"y":480,"wires":[]},{"id":"520bc7b4.6bda98","type":"ui_chart","z":"deb0d57.1c46528","name":"Sensor1 Realtime Chart","group":"7dfdde68.1b298","order":0,"width":0,"height":0,"label":"1 hour chart","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","ymin":"40","ymax":"55","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":1670,"y":520,"wires":[[],[]]},{"id":"4382dbee.402084","type":"ui_chart","z":"deb0d57.1c46528","name":"Sensor1 1 day Chart","group":"149f2d0d.b45213","order":0,"width":0,"height":0,"label":"1 day chart","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","ymin":"40","ymax":"55","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":1660,"y":560,"wires":[[],[]]},{"id":"be4e0a1d.800398","type":"ui_chart","z":"deb0d57.1c46528","name":"Sensor1 1 week Chart","group":"149f2d0d.b45213","order":0,"width":0,"height":0,"label":"1 week chart","chartType":"line","legend":"false","xformat":"D/M","interpolate":"linear","nodata":"","ymin":"40","ymax":"55","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":1660,"y":600,"wires":[[],[]]},{"id":"11acfbb.c2a0b04","type":"ui_gauge","z":"deb0d57.1c46528","name":"Sensor2 Realtime Humid Gauge","group":"67cdb377.0ac6dc","order":0,"width":"6","height":"3","gtype":"gage","title":"Realtime Gauge","label":"units","format":"{{value}}%","min":"40","max":"55","colors":["#00b500","#e6e600","#ca3838"],"seg1":"47","seg2":"52","x":1690,"y":640,"wires":[]},{"id":"7c9bc966.d776a8","type":"ui_chart","z":"deb0d57.1c46528","name":"Sensor2 Realtime Chart","group":"67cdb377.0ac6dc","order":0,"width":0,"height":0,"label":"1 hour chart","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","ymin":"40","ymax":"55","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":1670,"y":680,"wires":[[],[]]},{"id":"7abd8136.d9f88","type":"ui_gauge","z":"deb0d57.1c46528","name":"Sensor3 Realtime Humid Gauge","group":"be5843ff.709f3","order":0,"width":"6","height":"3","gtype":"gage","title":"Realtime Gauge","label":"units","format":"{{value}}%","min":"40","max":"55","colors":["#00b500","#e6e600","#ca3838"],"seg1":"47","seg2":"52","x":1690,"y":800,"wires":[]},{"id":"ded3fa7a.87abc8","type":"ui_chart","z":"deb0d57.1c46528","name":"Sensor3 Realtime Chart","group":"be5843ff.709f3","order":0,"width":0,"height":0,"label":"1 hour chart","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","ymin":"40","ymax":"55","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":1670,"y":840,"wires":[[],[]]},{"id":"fa4ffb24.afae68","type":"ui_gauge","z":"deb0d57.1c46528","name":"Sensor4 Realtime Humid Gauge","group":"4ff8e009.00dcf","order":0,"width":"6","height":"3","gtype":"gage","title":"Realtime Gauge","label":"units","format":"{{value}}%","min":"40","max":"55","colors":["#00b500","#e6e600","#ca3838"],"seg1":"47","seg2":"52","x":1690,"y":960,"wires":[]},{"id":"cd26bea.1de544","type":"ui_chart","z":"deb0d57.1c46528","name":"Sensor4 Realtime Chart","group":"4ff8e009.00dcf","order":0,"width":0,"height":0,"label":"1 hour chart","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","ymin":"40","ymax":"55","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":1670,"y":1000,"wires":[[],[]]},{"id":"8708013b.e39ee","type":"ui_gauge","z":"deb0d57.1c46528","name":"Sensor5 Realtime Humid Gauge","group":"9cf09826.ace6c8","order":0,"width":"6","height":"3","gtype":"gage","title":"Realtime Gauge","label":"units","format":"{{value}}%","min":"40","max":"55","colors":["#00b500","#e6e600","#ca3838"],"seg1":"47","seg2":"52","x":1690,"y":1120,"wires":[]},{"id":"d9df191f.564ee8","type":"ui_chart","z":"deb0d57.1c46528","name":"Sensor5 Realtime Chart","group":"9cf09826.ace6c8","order":0,"width":0,"height":0,"label":"1 hour chart","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","ymin":"40","ymax":"55","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":1670,"y":1160,"wires":[[],[]]},{"id":"10393ad5.dd6a45","type":"ui_gauge","z":"deb0d57.1c46528","name":"Sensor6 Realtime Humid Gauge","group":"a35b8df0.8b85f","order":0,"width":"6","height":"3","gtype":"gage","title":"Realtime Gauge","label":"units","format":"{{value}}%","min":"40","max":"55","colors":["#00b500","#e6e600","#ca3838"],"seg1":"47","seg2":"52","x":1690,"y":1280,"wires":[]},{"id":"2e509463.7f712c","type":"ui_chart","z":"deb0d57.1c46528","name":"Sensor6 Realtime Chart","group":"a35b8df0.8b85f","order":0,"width":0,"height":0,"label":"1 hour chart","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","ymin":"40","ymax":"55","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":1670,"y":1320,"wires":[[],[]]},{"id":"d54cdbe9.7e6438","type":"ui_gauge","z":"deb0d57.1c46528","name":"Sensor7 Realtime Humid Gauge","group":"4c8bdf86.76bb9","order":0,"width":"6","height":"3","gtype":"gage","title":"Realtime Gauge","label":"units","format":"{{value}}%","min":"40","max":"55","colors":["#00b500","#e6e600","#ca3838"],"seg1":"47","seg2":"52","x":1690,"y":1440,"wires":[]},{"id":"49ee825c.60516c","type":"ui_chart","z":"deb0d57.1c46528","name":"Sensor7 Realtime Chart","group":"4c8bdf86.76bb9","order":0,"width":0,"height":0,"label":"1 hour chart","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","ymin":"40","ymax":"55","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":1670,"y":1480,"wires":[[],[]]},{"id":"39049fe9.43902","type":"ui_gauge","z":"deb0d57.1c46528","name":"Sensor8 Realtime Humid Gauge","group":"6b1ad97e.4b16f8","order":0,"width":"6","height":"3","gtype":"gage","title":"Realtime Gauge","label":"units","format":"{{value}}%","min":"40","max":"55","colors":["#00b500","#e6e600","#ca3838"],"seg1":"47","seg2":"52","x":1690,"y":1600,"wires":[]},{"id":"f1a9f0e2.0fa83","type":"ui_chart","z":"deb0d57.1c46528","name":"Sensor8 Realtime Chart","group":"6b1ad97e.4b16f8","order":0,"width":0,"height":0,"label":"1 hour chart","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","ymin":"40","ymax":"55","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":1670,"y":1640,"wires":[[],[]]},{"id":"d322be9b.e2311","type":"ui_gauge","z":"deb0d57.1c46528","name":"Sensor9 Realtime Humid Gauge","group":"d0bd48a3.219218","order":0,"width":"6","height":"3","gtype":"gage","title":"Realtime Gauge","label":"units","format":"{{value}}%","min":"40","max":"55","colors":["#00b500","#e6e600","#ca3838"],"seg1":"47","seg2":"52","x":1690,"y":1760,"wires":[]},{"id":"d15fca3e.b20ff8","type":"ui_chart","z":"deb0d57.1c46528","name":"Sensor9 Realtime Chart","group":"d0bd48a3.219218","order":0,"width":0,"height":0,"label":"1 hour chart","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","ymin":"40","ymax":"55","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":1670,"y":1800,"wires":[[],[]]},{"id":"5a4d7ef8.62c56","type":"ui_gauge","z":"deb0d57.1c46528","name":"Sensor10 Realtime Humid Gauge","group":"b3c3e97a.c9a008","order":0,"width":"6","height":"3","gtype":"gage","title":"Realtime Gauge","label":"units","format":"{{value}}%","min":"40","max":"55","colors":["#00b500","#e6e600","#ca3838"],"seg1":"47","seg2":"52","x":1700,"y":1920,"wires":[]},{"id":"906d26fd.5f2ed8","type":"ui_chart","z":"deb0d57.1c46528","name":"Sensor10 Realtime Chart","group":"b3c3e97a.c9a008","order":0,"width":0,"height":0,"label":"1 hour chart","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","ymin":"40","ymax":"55","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":1670,"y":1960,"wires":[[],[]]},{"id":"b075cc50.9a93c","type":"ui_chart","z":"deb0d57.1c46528","name":"Sensor2 1 day Chart","group":"4fe4da60.b12104","order":0,"width":0,"height":0,"label":"1 day chart","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","ymin":"40","ymax":"55","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":1660,"y":720,"wires":[[],[]]},{"id":"daf4cc99.13f01","type":"ui_chart","z":"deb0d57.1c46528","name":"Sensor2 1 week Chart","group":"4fe4da60.b12104","order":0,"width":0,"height":0,"label":"1 week chart","chartType":"line","legend":"false","xformat":"D/M","interpolate":"linear","nodata":"","ymin":"40","ymax":"55","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":1660,"y":760,"wires":[[],[]]},{"id":"87fc8c0d.907c5","type":"ui_chart","z":"deb0d57.1c46528","name":"Sensor3 1 day Chart","group":"b7204db4.2c4b2","order":0,"width":0,"height":0,"label":"1 day chart","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","ymin":"40","ymax":"55","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":1660,"y":880,"wires":[[],[]]},{"id":"58536d33.b39df4","type":"ui_chart","z":"deb0d57.1c46528","name":"Sensor3 1 week Chart","group":"b7204db4.2c4b2","order":0,"width":0,"height":0,"label":"1 week chart","chartType":"line","legend":"false","xformat":"D/M","interpolate":"linear","nodata":"","ymin":"40","ymax":"55","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":1660,"y":920,"wires":[[],[]]},{"id":"72b98b2e.6b21b4","type":"ui_chart","z":"deb0d57.1c46528","name":"Sensor4 1 day Chart","group":"fb341af6.f0c9a8","order":0,"width":0,"height":0,"label":"1 day chart","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","ymin":"40","ymax":"55","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":1660,"y":1040,"wires":[[],[]]},{"id":"d2c390a1.5cef6","type":"ui_chart","z":"deb0d57.1c46528","name":"Sensor4 1 week Chart","group":"fb341af6.f0c9a8","order":0,"width":0,"height":0,"label":"1 week chart","chartType":"line","legend":"false","xformat":"D/M","interpolate":"linear","nodata":"","ymin":"40","ymax":"55","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":1660,"y":1080,"wires":[[],[]]},{"id":"6d04b637.6793b8","type":"ui_chart","z":"deb0d57.1c46528","name":"Sensor5 1 day Chart","group":"e6f140c7.c5ab7","order":0,"width":0,"height":0,"label":"1 day chart","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","ymin":"40","ymax":"55","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":1660,"y":1200,"wires":[[],[]]},{"id":"b1184afc.be0cf8","type":"ui_chart","z":"deb0d57.1c46528","name":"Sensor5 1 week Chart","group":"e6f140c7.c5ab7","order":0,"width":0,"height":0,"label":"1 week chart","chartType":"line","legend":"false","xformat":"D/M","interpolate":"linear","nodata":"","ymin":"40","ymax":"55","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":1660,"y":1240,"wires":[[],[]]},{"id":"73004597.439eec","type":"ui_chart","z":"deb0d57.1c46528","name":"Sensor6 1 day Chart","group":"6a2d7b03.7a27d4","order":0,"width":0,"height":0,"label":"1 day chart","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","ymin":"40","ymax":"55","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":1660,"y":1360,"wires":[[],[]]},{"id":"2a0fc610.87455a","type":"ui_chart","z":"deb0d57.1c46528","name":"Sensor6 1 week Chart","group":"6a2d7b03.7a27d4","order":0,"width":0,"height":0,"label":"1 week chart","chartType":"line","legend":"false","xformat":"D/M","interpolate":"linear","nodata":"","ymin":"40","ymax":"55","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":1660,"y":1400,"wires":[[],[]]},{"id":"a41c0849.d1f5a8","type":"ui_chart","z":"deb0d57.1c46528","name":"Sensor7 1 day Chart","group":"e65344c6.6c71d8","order":0,"width":0,"height":0,"label":"1 day chart","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","ymin":"40","ymax":"55","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":1660,"y":1520,"wires":[[],[]]},{"id":"6ff4e2c5.7a46fc","type":"ui_chart","z":"deb0d57.1c46528","name":"Sensor7 1 week Chart","group":"e65344c6.6c71d8","order":0,"width":0,"height":0,"label":"1 week chart","chartType":"line","legend":"false","xformat":"D/M","interpolate":"linear","nodata":"","ymin":"40","ymax":"55","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":1660,"y":1560,"wires":[[],[]]},{"id":"7e4edbca.3867f4","type":"ui_chart","z":"deb0d57.1c46528","name":"Sensor8 1 day Chart","group":"69aa7e21.d0ade","order":0,"width":0,"height":0,"label":"1 day chart","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","ymin":"40","ymax":"55","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":1660,"y":1680,"wires":[[],[]]},{"id":"5923dd78.0b27d4","type":"ui_chart","z":"deb0d57.1c46528","name":"Sensor8 1 week Chart","group":"69aa7e21.d0ade","order":0,"width":0,"height":0,"label":"1 week chart","chartType":"line","legend":"false","xformat":"D/M","interpolate":"linear","nodata":"","ymin":"40","ymax":"55","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":1660,"y":1720,"wires":[[],[]]},{"id":"b055fba4.bfa048","type":"ui_chart","z":"deb0d57.1c46528","name":"Sensor9 1 day Chart","group":"3e1544d5.34dbdc","order":0,"width":0,"height":0,"label":"1 day chart","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","ymin":"40","ymax":"55","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":1660,"y":1840,"wires":[[],[]]},{"id":"bfc863c.a695ea","type":"ui_chart","z":"deb0d57.1c46528","name":"Sensor9 1 week Chart","group":"3e1544d5.34dbdc","order":0,"width":0,"height":0,"label":"1 week chart","chartType":"line","legend":"false","xformat":"D/M","interpolate":"linear","nodata":"","ymin":"40","ymax":"55","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":1660,"y":1880,"wires":[[],[]]},{"id":"ef450fde.ed4dd","type":"ui_chart","z":"deb0d57.1c46528","name":"Sensor10 1 day Chart","group":"638c7ce0.c7a624","order":0,"width":0,"height":0,"label":"1 day chart","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","ymin":"40","ymax":"55","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":1660,"y":2000,"wires":[[],[]]},{"id":"bdb5fa9.e4f1108","type":"ui_chart","z":"deb0d57.1c46528","name":"Sensor10 1 week Chart","group":"638c7ce0.c7a624","order":0,"width":0,"height":0,"label":"1 week chart","chartType":"line","legend":"false","xformat":"D/M","interpolate":"linear","nodata":"","ymin":"40","ymax":"55","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":1670,"y":2040,"wires":[[],[]]},{"id":"197873b2.67cf2c","type":"mqtt-broker","z":"","broker":"api.trial2.iot.jp.fujitsu.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"13762f56.ac0f11","type":"ui_group","z":"","name":"Sensor1 Realtime Temperature","tab":"a1b5cde8.e8733","order":1,"disp":true,"width":"6"},{"id":"90ed189f.65a838","type":"ui_group","z":"","name":"Sensor1 Shrot Term Temperature","tab":"d13bb685.6fa228","order":2,"disp":true,"width":"6"},{"id":"6f123f41.2bcf3","type":"ui_group","z":"","name":"Sensor2 Reatime Temperature","tab":"a1b5cde8.e8733","order":2,"disp":true,"width":"6"},{"id":"71aef4b3.28588c","type":"ui_group","z":"","name":"Sensor2 Short Term Temperature","tab":"d13bb685.6fa228","order":2,"disp":true,"width":"6"},{"id":"7d9d67e7.f92398","type":"ui_group","z":"","name":"Sensor3 Realtime Temperature","tab":"a1b5cde8.e8733","order":3,"disp":true,"width":"6"},{"id":"82ab19a8.c381a8","type":"ui_group","z":"","name":"Sensor3 Short Term Temperature","tab":"d13bb685.6fa228","order":3,"disp":true,"width":"6"},{"id":"e82fd828.c310a8","type":"ui_group","z":"","name":"Sensor4 Realtime Temperature","tab":"a1b5cde8.e8733","order":4,"disp":true,"width":"6"},{"id":"8ff871b9.2bc6e","type":"ui_group","z":"","name":"Sensor4 Short Term Temperature","tab":"d13bb685.6fa228","order":4,"disp":true,"width":"6"},{"id":"198978a9.3d87c7","type":"ui_group","z":"","name":"Sensor5 Realtime Temperature","tab":"a1b5cde8.e8733","order":5,"disp":true,"width":"6"},{"id":"8c33ed63.e949d","type":"ui_group","z":"","name":"Sensor5 Short Term Temperature","tab":"d13bb685.6fa228","order":5,"disp":true,"width":"6"},{"id":"95e3fba.867a208","type":"ui_group","z":"","name":"Sensor6 Realtime Temperature","tab":"a1b5cde8.e8733","order":6,"disp":true,"width":"6"},{"id":"643805e8.14c08c","type":"ui_group","z":"","name":"Sensor6 Short Term Temperature","tab":"d13bb685.6fa228","order":6,"disp":true,"width":"6"},{"id":"1ae30899.8e1ee7","type":"ui_group","z":"","name":"Sensor7 Realtime Temperature","tab":"a1b5cde8.e8733","order":7,"disp":true,"width":"6"},{"id":"fa9f16ec.28a318","type":"ui_group","z":"","name":"Sensor7 Short Term Temperature","tab":"d13bb685.6fa228","order":7,"disp":true,"width":"6"},{"id":"68aae605.eac088","type":"ui_group","z":"","name":"Sensor8 Realtime Temperature","tab":"a1b5cde8.e8733","order":8,"disp":true,"width":"6"},{"id":"2d2056a8.913d6a","type":"ui_group","z":"","name":"Sensor8 Short Term Temperature","tab":"d13bb685.6fa228","order":8,"disp":true,"width":"6"},{"id":"461552fb.7143cc","type":"ui_group","z":"","name":"Sensor9 Realtime Temperature","tab":"a1b5cde8.e8733","order":9,"disp":true,"width":"6"},{"id":"74e16c81.739f24","type":"ui_group","z":"","name":"Sensor9 Short Term Temperature","tab":"d13bb685.6fa228","order":9,"disp":true,"width":"6"},{"id":"594a8c5f.7b7244","type":"ui_group","z":"","name":"Sensor10 Realtime Temperature","tab":"a1b5cde8.e8733","order":10,"disp":true,"width":"6"},{"id":"9def179b.28bef8","type":"ui_group","z":"","name":"Sensor10 Short Term Temperature","tab":"d13bb685.6fa228","order":10,"disp":true,"width":"6"},{"id":"7dfdde68.1b298","type":"ui_group","z":"","name":"Sensor1 Realtime Humidity","tab":"639a1161.82a58","order":1,"disp":true,"width":"6"},{"id":"149f2d0d.b45213","type":"ui_group","z":"","name":"Sensor1 Shrot Term Humidity","tab":"be70c55b.31aa38","order":1,"disp":true,"width":"6"},{"id":"67cdb377.0ac6dc","type":"ui_group","z":"","name":"Sensor2 Realtime Humidity","tab":"639a1161.82a58","order":2,"disp":true,"width":"6"},{"id":"be5843ff.709f3","type":"ui_group","z":"","name":"Sensor3 Realtime Humidity","tab":"639a1161.82a58","order":3,"disp":true,"width":"6"},{"id":"4ff8e009.00dcf","type":"ui_group","z":"","name":"Sensor4 Realtime Humidity","tab":"639a1161.82a58","order":4,"disp":true,"width":"6"},{"id":"9cf09826.ace6c8","type":"ui_group","z":"","name":"Sensor5 Realtime Humidity","tab":"639a1161.82a58","order":5,"disp":true,"width":"6"},{"id":"a35b8df0.8b85f","type":"ui_group","z":"","name":"Sensor6 Realtime Humidity","tab":"639a1161.82a58","order":6,"disp":true,"width":"6"},{"id":"4c8bdf86.76bb9","type":"ui_group","z":"","name":"Sensor7 Realtime Humidity","tab":"639a1161.82a58","order":7,"disp":true,"width":"6"},{"id":"6b1ad97e.4b16f8","type":"ui_group","z":"","name":"Sensor8 Realtime Humidity","tab":"639a1161.82a58","order":8,"disp":true,"width":"6"},{"id":"d0bd48a3.219218","type":"ui_group","z":"","name":"Sensor9 Realtime Humidity","tab":"639a1161.82a58","order":9,"disp":true,"width":"6"},{"id":"b3c3e97a.c9a008","type":"ui_group","z":"","name":"Sensor10 Realtime Humidity","tab":"639a1161.82a58","order":10,"disp":true,"width":"6"},{"id":"4fe4da60.b12104","type":"ui_group","z":"","name":"Sensor2 Shrot Term Humidity","tab":"be70c55b.31aa38","order":2,"disp":true,"width":"6"},{"id":"b7204db4.2c4b2","type":"ui_group","z":"","name":"Sensor3 Shrot Term Humidity","tab":"be70c55b.31aa38","order":3,"disp":true,"width":"6"},{"id":"fb341af6.f0c9a8","type":"ui_group","z":"","name":"Sensor4 Shrot Term Humidity","tab":"be70c55b.31aa38","order":4,"disp":true,"width":"6"},{"id":"e6f140c7.c5ab7","type":"ui_group","z":"","name":"Sensor5 Shrot Term Humidity","tab":"be70c55b.31aa38","order":5,"disp":true,"width":"6"},{"id":"6a2d7b03.7a27d4","type":"ui_group","z":"","name":"Sensor6 Shrot Term Humidity","tab":"be70c55b.31aa38","order":6,"disp":true,"width":"6"},{"id":"e65344c6.6c71d8","type":"ui_group","z":"","name":"Sensor7 Shrot Term Humidity","tab":"be70c55b.31aa38","order":7,"disp":true,"width":"6"},{"id":"69aa7e21.d0ade","type":"ui_group","z":"","name":"Sensor8 Shrot Term Humidity","tab":"be70c55b.31aa38","order":8,"disp":true,"width":"6"},{"id":"3e1544d5.34dbdc","type":"ui_group","z":"","name":"Sensor9 Shrot Term Humidity","tab":"be70c55b.31aa38","order":9,"disp":true,"width":"6"},{"id":"638c7ce0.c7a624","type":"ui_group","z":"","name":"Sensor10 Shrot Term Humidity","tab":"be70c55b.31aa38","order":10,"disp":true,"width":"6"},{"id":"a1b5cde8.e8733","type":"ui_tab","z":"","name":"IoT Demo Realtime Temp","icon":"dashboard","order":9},{"id":"d13bb685.6fa228","type":"ui_tab","z":"","name":"IoT Demo Short Term Temp","icon":"dashboard","order":10},{"id":"639a1161.82a58","type":"ui_tab","z":"","name":"IoT Demo Realtime Humid","icon":"dashboard","order":3},{"id":"be70c55b.31aa38","type":"ui_tab","z":"","name":"IoT Demo Short Term Humid","icon":"dashboard","order":4}]